html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
}

.admin-table thead {
    background-color: #1b1c1f;
}

.admin-table th {
    padding: 12px;
    font-weight: 600;
}

.admin-table td {
    padding: 12px;
    background-color: #222327;
}

.admin-table tr:nth-child(even) td {
    background-color: #2a2b2f;
}

.admin-table tr:hover td {
    background-color: #333437;
    cursor: pointer;
}

