@{
    Layout = "_AuthLayout";
}

<h2>Crear cuenta</h2>

<form method="post">

    <label>Nombre</label>
    <input type="text" name="firstName" class="form-control" />

    <label>Apellido</label>
    <input type="text" name="lastName" class="form-control" />

    <label>Correo</label>
    <input type="email" name="email" class="form-control" />

    <label>Contraseña</label>
    <input type="password" name="password" class="form-control" />

    <label>Confirmar contraseña</label>
    <input type="password" name="confirmPassword" class="form-control" />

    <button class="btn-primary">Crear cuenta</button>
</form>
